li{
	margin-top:1em;
	filter: brightness(130%);
	color: antiquewhite;
	width:170px;
	display: inline-block;
}
a{
	font-style: Candlescript;
	text-decoration: underline;
	color: white;
}
	* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-image:url('arch.jpg');
}

div{
	position: fixed;
	height: 490px;
}
.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#Test{
    background-color:deepskyblue;
}
td {
    width:50px;
    background-color:grey;
    text-align: center;
    border-radius:5px;
}
th { 
    border-radius:5px;
}
.Frame {
    width:150px; 
	background-color:burlywood; 
}